<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Cambio de palabra cada 5s
    </ion-toggle>
    <ion-toggle>
        Palabras en linea
    </ion-toggle>
    <ion-toggle>
        Grabador automatico
    </ion-toggle>
    <div class="item range">
      <i class="icon ion-volume-low"></i>
      <input type="range" name="volume">
      <i class="icon ion-volume-high"></i>
    </div>
    </ion-list>
  </ion-content>
</ion-view>
